@media screen and (max-width:750px){
    h1{
        font-size:40px
    }
    .seccion1-2{
        flex-direction: column-reverse;
        justify-items: space-evenly;
        height: 720px;
    }

    .seccion1-2{
        height: 650px;
    }
    .nav{
        padding:0 10px
    }
    .links{
        position: fixed;
        
        background: #8a2387; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top:0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }
    .fa-bars:before {
        content: "\f0c9";
    }
    .nav .links a{
        color:#fff
    }

    .nav .menuEffect{
        -webkit-clip-path:circle(141.2% at 100% 0);
        clip-path: circle(141.2% at 100% 0);
    }

    .button-menu{
        display: block;
    }

    .seccion1-2 > img{
        width: 250px;
    }
}