*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
}
.inicio{
    background-color: #c96676;
    border-radius: 40px;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegador{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    height: 100vh;
    background: #3a1c71; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo{
    height: 70px;
}

.logo img{
    height: 100%;
    vertical-align: top;
}

.links{
    display: flex;   
}

.nav .links a{
    color:black;
    text-decoration: none;
    margin: 10px;
}
.button-menu{
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.button-menu > i{
    font-size: 25px;
    line-height: 80px;
}

.seccion1-2{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.seccion1-2 > img{
    width: 310px;
    margin: 30px;
}
.texto{
    margin: 0,0,0, 30px;
}

.texto>h1{
    color: #fff;
    font-weight: bold;
    font-size: 100px;
}

.nombre{
    color:#fff
}

.seccion1-2{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}
